{% extends 'blog/base.html' %}
{% load bootstrap %}
{% block title %}Editar '{{post.title}}'{% endblock %}

{% block content %}
    <div class="container">
        <h1>Editar '{{post.title}}'</h1>
        <div class="form-group col-md-6 mb-0">
            <form action="." method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" class="btn btn-default" value="Editar">
            </form>
        </div>
        <hr>
        <form action="{% url 'blog:post_delete' post.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value='Deletar post'>
        </form>
    </div>
{% endblock %}